__pycache__
.vscode
afk.py
config.py
config.json
constants/constants_[^_]*.ini
count.py
data/[!_]*
data/_unittest/vectorstore
foto.py
foto.service
launch.json
myragenv/
rag.py
services/rag_*.service
?.?